@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Neonderthaw&display=swap');

body {
    background-color:darkkhaki;
}
.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
}

.footer {
    position:absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    text-align: center;
}


.footer a {
    color:black;
    cursor: pointer;
    text-decoration: none;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.footer a:hover {
    color:firebrick;
    font-weight: bold;
}

.etchTitle {
    padding: 5px 10px;
    font-size: 60px;
    text-align: center;
    font-family: 'Neonderthaw', cursive;
    color: goldenrod;

    
}

.gridBlock {
    background-color:#ccc;
    border: 1px solid #999;
    flex: 1 1 50px;
}


.gridRow {
    display: inline-flex;
    justify-content: center;
    flex: 1 1 0;

}

.etchasketch {
    background-color:firebrick;
    padding: 20px 100px 25px 100px;
    border-radius: 20px;
    box-shadow: 0 2px 15px rgba(0,0,0,.5);
}

.drawingContainer {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;

}

.controlDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    padding-top: 20px;
}

#center, #left, #right {

    font-family: 'Koulen', cursive;
    color: white;
    text-shadow: 3px 3px 3px #000;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

/* Slider */

#sliderValue {
    display: none;
}

.sliderContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.densityTitle {
    margin: 0px 0px;
    padding: 0px 0px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
}

.gridSlider {
    width: 100%;
  }
  
.gridSlider {
    -webkit-appearance: none;
    height: 15px;
    background: #999;
    border-radius: 10px;
    outline: none;
    opacity: .8;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
.gridSlider:hover {
    opacity: 1;
  }
  
.gridSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 25px;
    background: white;
    cursor: pointer;
  }
  
.gridSlider::-moz-range-thumb {
    width: 15px;
    height: 25px;
    background: white;
    cursor: pointer;
  }


.clearButton {
    width: 100px;
    height: 2.8rem;
    border-radius: 100px;
    font-family: 'Koulen', cursive;
    font-size: 12px;
    color:rgba(0, 0, 0, 0.6);
    margin: auto;
    opacity: .8;
}

.clearButton:hover {
    opacity: 1;
}


/* Color Toggle */
.colorSelectContainer {
    display: flex;
    margin: auto;
    width: 200px;
    justify-content: right;
  }

 p {
    color: white;
    text-shadow: 3px 3px 3px #000;
  }
label, .toggleDiv {
    height: 2.8rem;
    border-radius: 100px;
  }
label {
    width: 100%;
    background-color: #999;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
    opacity: .8;
  }

  label:hover {
    opacity: 1;
  }

.toggleDiv {
    position: absolute;
    width: 50%;
    background-color: #666;
    box-shadow: 0 2px 15px rgba(0,0,0,.15);
    transition: transform .3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  }
.colorName {
    font-size: 12px;
    font-weight: bolder;
    width: 75%;
    margin-left: 15%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    user-select: none;
  }
  
[type="checkbox"] {
    display: none;
  }
  /* Toggle button change when checked */
[type="checkbox"]:checked + .controlDiv .toggleDiv{
    transform: translateX(100%);
    background-image: url('images/psychedelicbg.jpg');
    background-size: 250px;
  }