@import url('https://fonts.googleapis.com/css2?family=Neonderthaw&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Koulen&family=Neonderthaw&display=swap');

.etchTitle {
    padding: 10px 10px;
    font-size: 60px;
    text-align: center;
    font-family: 'Neonderthaw', cursive;
    color: goldenrod;

    
}

.gridBlock {
    background-color:#ccc;
    border: 1px solid #999;
    flex: 1 1 50px;
}


.gridRow {
    display: inline-flex;
    justify-content: center;
    flex: 1 1 0;

}

.etchasketch {
    background-color:firebrick;
    padding: 20px 100px;
    border-radius: 20px;
}

.drawingContainer {
    height: 600px;
    width: 600px;
    display: flex;
    flex-direction: column;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.controlDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 600px;
    padding-top: 20px;
}

.controlDiv div {

    font-family: 'Koulen', cursive;
    line-height: 20px;
    color: goldenrod;
    font-size: 20px;

}

#sliderValue {
    display: none;
}

.clearButton {
    height: 50px;
    width: 125px;
    border-radius: 10px;
    font-family: 'Koulen', cursive;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.6);
}


.densityTitle {
    margin: 0px 0px;
    padding: 0px 0px;
    text-align: center;
}

.gridSlider {
    width: 100%;
  }
  
  .gridSlider {
    -webkit-appearance: none;
    height: 25px;
    background: #666;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .gridSlider:hover {
    opacity: 1;
  }
  
  .gridSlider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
  }
  
  .gridSlider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: white;
    cursor: pointer;
  }



  .colorRadioContainer {
	display: flex;
    justify-content: center;
    overflow: hidden;
}



.colorRadioContainer input {
	position: absolute !important;
	clip: rect(0, 0, 0, 0);
	height: 1px;
	width: 1px;
	border: 0;
	overflow: hidden;
}

.colorRadioContainer label {
	background-color: #e4e4e4;
	color: rgba(0, 0, 0, 0.6);
	font-size: 20px;
	line-height: 1;
	text-align: center;
	padding: 8px 16px;
	margin-right: -1px;
	border: 1px solid rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
	transition: all 0.1s ease-in-out;
}

.colorRadioContainer label:hover {
	cursor: pointer;
}

.colorRadioContainer input:checked + label {
	background-color: goldenrod;
	box-shadow: none;
}

.colorRadioContainer label:first-of-type {
	border-radius: 4px 0 0 4px;
}

.colorRadioContainer label:last-of-type {
	border-radius: 0 4px 4px 0;
}